* {
    padding: 0;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #034C53;
    color: #FFF4B7;
    /* position: fixed; */
    bottom: 0;
}